{block content}

<div class="col-lg-12">
    <form n:name="registrationForm">
        <label>Username</label>
        <input n:name="username" />
        {label password}aaaaa{/label}
        {input password}
    </form>
</div>